<p id="notice"><%= notice %></p>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" >
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>

<div class="row">
  <div class="col-md-3">
  <img src="https://pp.vk.me/c622123/v622123489/2aafb/-de8E_4T9Ss.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="304"> 
  </div>
  <div class="col-md-6">
    <div class="panel panel-warning">
      <div class="panel-heading" align="center">Посты</div>
      <div class="panel-body">
       <% @posts.each do |post| %>
      <br>
        <strong><%= post.name %></strong>
        <br>
        <%= post.content %>
        <br><br>
        <div class="col-md-4">
       <table class = "table table-condensed">
        
        <td>
        <%= button_to "Показать", post, :class => "btn btn-info btn-xs", :method => :get%>
       
        </td>
        
        <td>
        <%= button_to "Изменить", edit_post_path(post), :class => "btn btn-info btn-xs", :method => :get%>
        </td>
        <td>
        <!--<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %> -->
        <%= button_to "Удалить", post, data: { confirm: 'Правда-правда?' }, :class => "btn btn-info btn-xs", :method => :delete%> 
        </td>
        
        
        </td>
        
        </table>
        </div>
        <br>
      
    <% end %>

      </div>
    </div>
  </div>
  <div class="col-md-3">
  <%= button_to "Создать пост", new_post_path, :class => "btn btn-info", :method => :get  %>
  </div>
</div>






































